.htaccess
sitemap.xml
sitemap.xml.gz
*sitemap*.xml*
*.log
log/*
.vagrant
wp-config.php
*.bak
*~
error_log
debug.txt

# wordpress ignores -- found the hard way

# google docs backups
wp-content/gdbackup/

# special recent posts cache
wp-content/plugins/special-recent-posts/cache/

# Fast Secure Contact Form captcha cache
wp-content/plugins/si-contact-form/captcha/cache/
